<div class="vh-100 gradient-custom bg-opacity-40">
  <div class="container ">
    <div class="row d-flex justify-content-center align-items-center ">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark  text-white">
        <a class="navbar-brand " href="#">UI-app</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" [routerLink]="['/login']">Home </a>
            <a class="nav-item nav-link" [routerLink]="['/register']">register</a>
            <a class="nav-item nav-link" [routerLink]="['/table']">users</a>
          </div>
        </div>
      </nav>
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card-body bg-dark text-white pt-3 pb-3 p-5 text-center">
          <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
            <div class="mb-md-3 mt-md-3">
              <h2 class="fw-bold mb-2 mt-0 text-uppercase">register</h2>
              <div class="form-outline form-group form-white mb-3">
                <label class="form-label" for="username">username</label>
                <input type="text" class="form-control" id="username" name="username"  [(ngModel)]="form.username"  required   minlength="3" maxlength="20"  #username="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && username.errors }" />
              </div>
              <div class="form-outline form-group form-white mb-3">
                <label class="form-label" for="email">E-mail</label>
                <input type="email" class="form-control"  name="email" id="email" [(ngModel)]="form.email"  required email #email="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && email.errors }" />
              </div>
              <div class="invalid-feedback" *ngIf="email.errors && f.submitted">
                <div *ngIf="email.errors['required']">Email is required</div>
                <div *ngIf="email.errors['email']">Email must be a valid email address</div>
              </div>
              <div class="form-outline form-group form-white mb-3">
                <label class="form-label" for="phone">phone</label>
                <input type="text" class="form-control"  name="phone" id="phone"  [(ngModel)]="form.phone"  required  #phone="ngModel"
                  [ngClass]="{ 'is-invalid': f.submitted && phone.errors }" />
              </div>
              <div class="form-outline form-group form-white mb-3">
                  <label class="form-label" for="address">address</label>
                  <input type="text" class="form-control" id="address" name="address"  [(ngModel)]="form.address"  required   #address="ngModel"
                  [ngClass]="{ 'is-invalid': f.submitted && address.errors }" />
              </div>
              <div class="form-outline form-group form-white mb-3">
                <label class="form-label" for="password">password</label>
                <input type="password" class="form-control" id="password" name="password" [(ngModel)]="form.password" required minlength="6" #password="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && password.errors }"/>
              </div>
              <div class="invalid-feedback" *ngIf="password.errors && f.submitted">
                <div *ngIf="password.errors['required']">Password is required</div>
                <div *ngIf="password.errors['minlength']">Password must be at least 6 character</div>
              </div>
              <div class="form-group"> <button type="submit"   class="btn btn-outline-light" >Sign Up</button></div>
              <div><p class="mb-1"> <a  [routerLink]="['/login']" class="text-white-50 fw-bold">already have an account?</a></p></div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
                  